@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@mixin flex-column-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-column-around {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@mixin flex-row-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-row-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
    $header-font: 'Montserrat', sans-serif !global;
    $font-color: rgba(0, 0, 0, 0.6) !global;
    $font-color-accent: #77efe5 !global;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.page-header {
    height: 100vh;
    background-color: #eff0f2f8;
    @include flex-column-between();
}

.header-nav {
    position: relative;
    width: 87%;
    padding-top: 3rem;
    @include flex-row-between();
}

.header-logo {
    width: 7rem;
    height: 2.8rem;
    border: 0.4rem solid #170f1c;
    @include flex-row-center();
    .header-logo__logo-content {
        font-family: $header-font;
        text-shadow: 0 0 2px rgba(21, 21, 22, 0.75);
        font-size: 1rem;
        letter-spacing: 1.02px;
        text-align: center;
        font-weight: 700;
        .header-logo__logo-content_blue {
            color: $font-color-accent;
            font-size: 1.3rem;
            letter-spacing: 1.26px;
            text-shadow: none;
        }
    }
}


/* Hamburger-Menu block */

.header-menu {
    .header-menu__menu-toggle {
        display: block;
        position: relative;
        z-index: 3;
        user-select: none;
    }
    .header-menu__menu-toggle input {
        display: block;
        width: 3rem;
        height: 2rem;
        position: absolute;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
    }
    .header-menu__menu-toggle span {
        display: block;
        width: 2rem;
        height: 0.4rem;
        margin-bottom: 5px;
        position: relative;
        background: $font-color;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
    }
    .header-menu__menu-toggle span:first-child {
        transform-origin: 0% 0%;
    }
    .header-menu__menu-toggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }
    .header-menu__menu-toggle input:checked~span {
        background: #232323;
    }
    .header-menu__menu-toggle input:checked~span:nth-child(2) {
        transform: rotate(45deg) translate(0, -5px);
    }
    .header-menu__menu-toggle input:checked~span:nth-child(3) {
        transform: rotate(-45deg);
    }
    .header-menu__menu-toggle input:checked~span:nth-child(4) {
        opacity: 0;
    }
    .header-menu__menu-content {
        display: none;
        list-style: none;
        position: absolute;
        top: -2.5rem;
        text-align: center;
        width: 15rem;
        padding: 2rem;
        padding-top: 7rem;
        background: #ededede8;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    .header-menu__menu-content li {
        height: 2.5rem;
        a {
            display: block;
            color: $font-color;
            &:hover {
                color: $font-color-accent;
                opacity: 1;
            }
        }
    }
    .header-menu__menu-toggle input:checked~.header-menu__menu-content {
        display: block;
        right: 0;
    }
}

.header-title {
    @include flex-column-center();
    text-align: center;
    padding: 0.5rem;
    .header-title__first-header {
        margin: 0 0 1rem 0;
        font-family: $header-font;
        font-weight: 700;
        font-size: 2.8rem;
        letter-spacing: 2.7px;
        text-transform: uppercase;
        text-shadow: 4px 8px 10px rgba(0, 0, 0, 0.24);
    }
    .header-title__first-header_bg-blue {
        display: inline-block;
        padding: 0.3rem;
        background-color: #77efe56e;
    }
    .header-title__second-header {
        @extend .header-title__first-header
    }
}