@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-column-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-column-around {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@mixin flex-row-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-row-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin fade-background($bg-url) {
    background: no-repeat center/cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url($bg-url);
}