@media (min-width: 1290px) {
    .grid__comment-container {
        .grid__comment-block {
            padding: 12% 15%;
            .grid__comment-header {
                font-size: 0.9rem;
            }
            .grid__comment-text {
                font-size: 0.8rem;
            }
        }
    }
}

@media (max-width: 1300px) {
    .slideshow-container {
        .slideshow-container__content {
            .slideshow-container__text-content {
                padding-top: 4rem;
            }
        }
    }
}

@media (max-width: 1289px) {
    .about {
        .about__content {
            width: 100%;
            padding: 1rem;
            @include flex-column-between();
            .about__image-content {
                width: 90%;
                .about__image-outline {
                    display: none;
                }
            }
            .about__text-content {
                width: 100%;
                margin: 3rem 0;
                text-align: center;
            }
        }
    }
    .slideshow-container {
        width: 100%;
        .slideshow-container__content {
            width: 100%;
            padding: 3rem;
            @include flex-column-between();
            .slideshow-container__image-content {
                width: 90%;
                .slideshow-container__image-outline {
                    display: none;
                }
            }
            .slideshow-container__text-content {
                width: 100%;
                height: 18rem;
                margin: 3rem 0;
                text-align: center;
                position: relative;
                padding: 2rem;
            }
        }
    }
    .block-content-wrapper {
        padding-top: 4.2rem;
    }
    .feedback-container {
        width: 100%;
        .feedback-container__contact-info {
            width: 90%;
            margin: 0 auto;
        }
        .feedback-container__form {
            width: 90%;
            margin: 3rem auto;
        }
    }
}

@media (max-width: 922px) {
    .block-ref {
        display: none;
    }
    .block-content-wrapper {
        padding-top: 4.2rem;
        max-height: 21rem;
    }
    .grid__comment-container {
        .grid__comment-block {
            padding: 1rem;
        }
    }
}

@media (max-width: 860px) {
    .grid__comment-container {
        .grid__comment-block {
            .grid__comment-header {
                font-size: 2rem;
            }
            .grid__comment-text {
                font-size: 1.5rem;
            }
        }
    }
    .social {
        font-size: 1.5em;
    }
    .grid__comment-container {
        .grid__comment-block {
            padding: 2rem;
        }
    }
}

@media (max-width: 768px) {
    .section-header {
        margin-bottom: 5rem;
    }
    .header-contact {
        .header-contact__button {
            &:hover {
                color: $font-color;
                box-shadow: none;
            }
        }
    }
    .services {
        .services__grid {
            width: 90%;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            grid-template-rows: repeat(auto-fit, 380px);
            .services__block_narrow_left,
            .services__block_narrow_right,
            .services__block_wide_left,
            .services__block_wide_right,
            .services__block_wide_blue {
                grid-column: unset;
            }
        }
    }
    .block-content-wrapper {
        padding-top: 11.5rem;
    }
    .block-ref {
        display: block;
    }
    .block-content-wrapper {
        padding-top: 4.2rem;
        max-height: unset;
    }
    .grid__comment-container {
        .grid__comment-block {
            .grid__comment-header {
                font-size: 0.9rem;
            }
            .grid__comment-text {
                font-size: 1rem;
            }
        }
    }
    .social {
        font-size: 1rem;
    }
    .grid__comment-container {
        .grid__comment-block {
            padding: 1rem;
        }
    }
    .slideshow-container {
        .slideshow-container__content {
            .slideshow-container__text-content {
                font-size: 0.9rem;
                height: 22rem;
            }
        }
    }
    .input-container {
        .form-button {
            font-size: 0.8rem;
        }
    }
}