@media (max-width: 1290px) {
    .about {
        .about__content {
            width: 100%;
            padding: 1rem;
            @include flex-column-between();
            .about__image-content {
                width: 90%;
                .about__image-outline {
                    display: none;
                }
            }
            .about__text-content {
                width: 100%;
                margin: 3rem 0;
                text-align: center;
            }
        }
    }
}

@media (max-width: 768px) {
    .section-header {
        margin-bottom: 5rem;
    }
    .header-contact {
        .header-contact__button {
            &:hover {
                color: $font-color;
                box-shadow: none;
            }
        }
    }
    .services {
        .services__grid {
            width: 90%;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            grid-template-rows: repeat(6, 380px);
            .services__block_narrow_left,
            .services__block_narrow_right,
            .services__block_wide_left,
            .services__block_wide_right,
            .services__block_wide_blue {
                grid-column: unset;
            }
        }
    }
}