.section-header {
    color: $font-color;
    text-align: center;
    text-transform: uppercase;
    margin: 10rem 1rem;
    @include flex-column-center();
    .section-header__main-header {
        letter-spacing: 2.28px;
        font-weight: 800;
        font-family: $header-font;
        font-size: 2.3rem;
        color: rgba(0, 0, 0, 0.9);
        margin-bottom: 0;
    }
    .section-header__sub-header {
        letter-spacing: 1.02px;
        font-family: $sub-header-font;
        font-size: 1.2rem;
        margin-top: 0.3rem;
    }
}