.section-header {
    color: $font-color;
    text-align: center;
    text-transform: uppercase;
    margin: 10rem 1rem;
    @include flex-column-center();
    .section-header__main-header {
        letter-spacing: 2.28px;
        font-weight: 800;
        font-family: $header-font;
        font-size: 2.3rem;
        color: rgba(0, 0, 0, 0.9);
        margin-bottom: 0;
    }
    .section-header__sub-header {
        letter-spacing: 1.02px;
        font-family: $sub-header-font;
        font-size: 1.2rem;
        margin-top: 0.3rem;
    }
}

.text-ellipsis {
    display: -webkit-box;
    height: 400px;
    line-height: 1.4;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.block-content-wrapper {
    padding: 11.5rem 4.25rem 3.6rem;
    -webkit-line-clamp: 7;
}

.block-header {
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    font-family: $sub-header-font;
    font-size: 1.25rem;
    letter-spacing: 1px;
}

.block-content {
    font-family: $paragraph-font;
    letter-spacing: 0.32px;
    line-height: 1.6rem;
    color: rgba(255, 255, 255, 0.7);
}

.block-ref {
    display: block;
    margin-top: 2rem;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
    font-family: $paragraph-font;
    &:hover {
        color: $font-color-accent;
    }
}