$header-font: 'Montserrat',
sans-serif !global;
$sub-header-font: 'Merriweather',
serif !global;
$paragraph-font: 'Raleway',
sans-serif !global;
$font-color: rgba(0, 0, 0, 0.6) !global;
$font-color-accent: #77efe5 !global;